<!DOCTYPE html>
<html>
  <head>
    <title>Precook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= link_to 'Precook', root_path, class: 'navbar-item' %>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link_to 'レシピ一覧', recipes_path, class: 'navbar-item' %>
            <%= link_to '週間プラン一覧', weekly_plans_index_path, class: 'navbar-item' %>
          </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if user_signed_in? %>
                  <%= link_to 'レシピ投稿', new_recipe_path, class: 'button is-primary' %>
                  <%= link_to '週間プラン作成', weekly_plans_new_path, class: 'button is-primary' %>
                  <%= link_to 'ログアウト', destroy_user_session_path, class: 'button is-light', method: :delete %>
                <% else %>
                  <%= link_to 'サインアップ', new_user_registration_path, class: 'button is-primary' %>
                  <%= link_to 'ログイン', new_user_session_path, class: 'button is-light' %>
                <% end %>
              </div>
            </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
